@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  overflow-x: hidden;
}

html,
body {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  width: 100%;
  padding: 0 200px;
  margin: 0 auto;
}

.layout {
  display: flex;
}

.main {
  background: white;
  width: 50vw;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
}

.main-picture {
  width: 50vw;
  height: 100vh;
  background: url("../public/assets/front3.jpg");
  background-size: cover;
  background-position: right;
  z-index: 20;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  width: 40%;
  list-style: none;
  margin: 60px auto 0 auto;
}

.nav-link {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
}

.nav-link:hover {
  border-bottom: 1px solid #48c9e4;
}

.active {
  color: #48c9e4;
  border-bottom: 1px solid #48c9e4;
}

/* ------------------------ About ---------------------------- */

.about {
  margin: 50px 50px;
  border-bottom: 1px solid #ececec;
}

.about h1,
.services h2 {
  font-size: 14px;
  color: #48c9e4;
  letter-spacing: 1px;
  text-align: center;
}

.about h3 {
  font-size: 26px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  text-align: center;
}

.about p {
  font-weight: 100;
  padding-bottom: 50px;
  line-height: 1.75em;
  letter-spacing: 1px;
}

/* ------------------------ Contact ---------------------------- */

.contact {
  margin: 50px 50px;
  border-bottom: 1px solid #ececec;
}

.contact h1 {
  font-size: 14px;
  color: #48c9e4;
  letter-spacing: 1px;
  text-align: center;
}

.contact h3 {
  font-size: 26px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  text-align: center;
}

.contact p {
  font-weight: 100;
  line-height: 1.75em;
  letter-spacing: 1px;
}

.contact h6 {
  font-weight: 100;
  line-height: 1.75em;
  letter-spacing: 1px;
  font-size: 12px;
}
.contact h6 span {
  font-weight: bold;
}

.contact h6:last-child {
  margin-bottom: 50px;
}
.form-message {
  font-size: 10px;
  padding-top: 2px;
}
.form-message.valid {
  color: #4caf50;
  margin-bottom: 15px;
  margin-left: 50px;
}
.form-message.invalid {
  color: #f44336;
  margin-bottom: 15px;
  margin-left: 50px;
}

.has-error {
  border: 1px solid #f44336;
}

form {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

input,
textarea {
  margin: 0 50px;
  font-size: 13px;
  letter-spacing: 0px;
  padding: 10px 15px;
  width: 80%;
  border-radius: 0;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  -webkit-transition: border-color 0.2s;
  -o-transition: border-color 0.2s;
  transition: border-color 0.2s;
  border: 1px solid rgba(215, 215, 215, 0.536);
}

textarea {
  height: 200px;
}

form button {
  margin: 0 50px;
  padding: 5px 20px;
  text-transform: uppercase;
  background: #48c9e4;
  color: white;
  border: 0;
}
form button:hover {
  background: white;
  color: #48c9e4;
  border: 1px solid #48c9e4;
}
.status {
  margin-top: 15px;
  margin-left: 50px;
  color: grey;
}

/* ------------------------ Services ---------------------------- */

.services {
  border-bottom: 1px solid #ececec;
}

.services h2 {
  margin: 0px 50px 0 50px;
  text-align: center;
}

.services h3 {
  letter-spacing: 1px;
  font-size: 26px;
  text-align: center;
}

.services h5 {
  text-transform: uppercase;
  font-size: 17px;
}

.service-boxes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 50px 50px;
}

.service-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ececec;
  line-height: 1.75rem;
  padding: 15px;
  flex-basis: 48%;
  margin-bottom: 25px;
}

.service-box p {
  margin-top: 10px;
  text-align: center;
  font-weight: 100;
}

.services img {
  width: 20%;
  margin-bottom: 10px;
}

.copyright {
  margin: 50px 0;
  text-align: center;
  font-weight: 200;
}

/* ------------------------ Portfolio ---------------------------- */

h1.portfolio {
  text-align: center;
}

/* ------------------------ Media Queries ---------------------------- */

@media screen and (max-width: 768px) {
  * {
    overflow: none;
  }
  .layout {
    display: block;
  }
  .nav-menu {
    justify-content: space-between;
    width: 60% !important;
  }
  .main-picture {
    width: 100vw;
    height: 20vh;
    background-size: cover;
    background-position: right;
  }

  .main {
    width: 100vw;
  }

  .about {
    margin: 50px 20px;
  }
  .service-boxes {
    margin: 50px 20px;
  }
  .service-box {
    flex-basis: 100%;
    margin-bottom: 25px;
  }
}
